.add {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #fff;
  height: 8vh;
  padding: 0 1rem;
  border-radius: 5px;
}

.add .person {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

